@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: "Roboto Mono", monospace;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
}
.info {
	position: absolute;
	left: 50%;
	top: 15%;
	transform: translateX(-50%);
	max-width: 500px;
}
.calculator {
	max-width: 250px;
}

.btn {
	cursor: pointer;
	border-style: none;
	font-weight: 500;
	font-size: 16px;
	width: 50px;
	height: 50px;
	flex: 1;
	margin-right: 4px;
	border-radius: 50px;
	background: #d8d9db;
	color: #000;
}

.btn:last-child {
	margin-right: 0;
	background: #df974c;
	color: #fff;
}

.btn:hover {
	opacity: 0.8;
}

.result {
	font-size: 30px;
	padding: 10px 20px;
	background: #000;
	color: #fff;
	margin-bottom: 10px;
	border-radius: 50px;
	text-align: right;
}

.row {
	width: 250px;
	display: flex;
	justify-content: stretch;
	margin-bottom: 4px;
}

.clear {
	flex: 25%;
}

.zero {
	flex: 50%;
}
